.main-section1 {
  background: url("../images/image2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // max-width: 1770px;
  width: 100%;
  min-height: 685px; 
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  h2 {
    max-width: 288px;
    width: 100%;
    min-height: 26px;
    line-height: 26px;
    font-size: 36px;
    font-family: $font1;
    color: $color1;
  }
  p {
    max-width: 560px;
    width: 100%;
    min-height: 158px;
    font-size: 16px;
    font-family: $font1;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: $color4;
  }
  span {
    display: block;
    margin-top: 30px;
  }
  button {
    max-width: 228px;
    width: 100%;
    min-height: 63px;
    font-size: 16px;
    font-family: $font2;
    line-height: 26px;
    letter-spacing: 1.2px;
    background-color: $color3;
    color: $color1;
    border: none;
  }
  button:hover {
    color: lightgray;
    cursor: pointer;
  }
  img {
    display: block;
  }
  .main-section1-images {
    align-self: flex-start;
  }
  .image1 {
    margin-top: 50px;
    max-width: 350px;
    width: 100%;
    min-height: 220px;
  }
  .image2 {
    margin-top: 10px;
    max-width: 350px;
    width: 100%;
    min-height: 220px;
  }
  .main-section-1-footer {
    background-color: $color5;
    // max-width: 1773px;
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    i {
      font-size: 50px;
      display: block;
    }

    a {
      max-width: 244px;
      width: 100%;
      min-height: 26px;
      color: $color4;
      font-size: 30px;
      // line-height: 26px;
      font-family: $font2;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
    }
  }
  .fa-magnifying-glass {
    color: $color3;
    text-align: center;
  }
  .fa-circle-check {
    color: #ff6363;
    text-align: center;
  }
  .fa-thumbs-up {
    color: blue;
    text-align: center;
  }
}

.main-section2 {
  background: url("../images/image5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // max-width: 1770px;
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  .main-section2-paragraph1 {
    background-color: rgba(35, 35, 35, 0.7);
    max-width: 543px;
    width: 100%;
    min-height: 374px;
    padding: 50px;
  }
  h2 {
    max-width: 80px;
    width: 100%;
    min-height: 26px;
    color: $color4;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.5px;
    font-family: $font1;
  }
  h3 {
    max-width: 241px;
    width: 100%;
    min-height: 26px;
    color: $color4;
    font-size: 20x px;
    line-height: 26px;
    font-family: $font1;
  }
  p {
    margin-top: 10px;
    max-width: 508px;
    width: 100%;
    min-height: 78px;
    color: $color4;
    font-size: 16px;
    line-height: 26px;
    font-family: $font1;
  }
  button {
    max-width: 228px;
    width: 100%;
    min-height: 63px;
    font-size: 16px;
    font-family: $font2;
    line-height: 26px;
    letter-spacing: 1.2px;
    background-color: $color3;
    color: $color1;
    border: none;
  }
  button:hover {
    cursor: pointer;
    color: lightgray;
  }
}
.main-section3 {
  background: url("../images/image6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // max-width: 1770px;
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .main-section3-paragraph1 {
    background-color: rgba(35, 35, 35, 0.7);
    max-width: 543px;
    width: 100%;
    min-height: 374px;
    padding: 50px;
    margin: auto;
  }
  h2 {
    max-width: 80px;
    width: 100%;
    min-height: 26px;
    color: $color4;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.5px;
    font-family: $font1;
  }
  h3 {
    max-width: 241px;
    width: 100%;
    min-height: 26px;
    color: $color4;
    font-size: 20x px;
    line-height: 26px;
    font-family: $font1;
  }
  p {
    margin-top: 10px;
    max-width: 508px;
    width: 100%;
    min-height: 78px;
    color: $color4;
    font-size: 16px;
    line-height: 26px;
    font-family: $font1;
  }
  button {
    max-width: 228px;
    width: 100%;
    min-height: 63px;
    font-size: 16px;
    font-family: $font2;
    line-height: 26px;
    letter-spacing: 1.2px;
    background-color: $color3;
    color: $color1;
    border: none;
  }
  button:hover {
    cursor: pointer;
    color: lightgray;
  }
}
.main-section4 {
  background: url("../images/image7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // max-width: 1770px;
  width: 100%;
  min-height: 732px;
  // border: 2px solid white;

  .image-paragraph {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 600px;
    img {
      max-width: 445px;
      width: 100%;
      min-height: 284px;
    }
    // border: 2px solid white;
  }

  h3 {
    max-width: 390px;
    width: 100%;
    min-height: 78px;
    color: $color4;
    font-size: 36px;
    line-height: 26px;
    font-family: $font2;
    text-align: center;
    padding-top: 20px;
    margin: auto;
  }
  .section4-paragraph {
    background-color: #333333;
    max-width: 668px;
    width: 100%;
    min-height: 200px;
  }
  h2 {
    max-width: 150x;
    width: 100%;
    min-height: 78px;
    color: $color4;
    font-size: 20px;
    // line-height: 26px;
    font-family: $font1;
    text-align: center;
    // border: 2px solid;
  }
  p {
    max-width: 800px;
    width: 100%;
    min-height: 165px;
    color: $color4;
    font-size: 16px;
    line-height: 26px;
    font-family: $font1;
    text-align: center;
    // border: 2px solid;
  }
}
